# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# Firebase key
serviceAccountKey.json
serviceAccountKey*.json
*.key.json

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Local DB & Cache
mock_db.json
.pytest_cache/

